/* Media */


/* Colors */
$orange: #FFD89B;
$green: #A8DF8E;
$darkred: #A18080;

$black: #212229;
$gray: #B7BEC8;
$white: #FAFAFA;

$bgpink: #ffe2e2;
$bgorange: #fcd7a5;

/* Fonts */
$titles:'Montserrat', sans-serif;
$regular:'Open Sans', sans-serif;

/* Sizes */


