/* Media */


/* Colors */
$orange: #FFD89B;
$brightorange: #ffad6a;
$green: #A8DF8E;
$darkgreen: #71b452;
$darkred: #A18080;

$black: #212229;
$gray: #B7BEC8;
$white: #FAFAFA;

$bgpink: #ffe6e6;
$bgorange: #fce2c2;

/* Fonts */
$titles:'Montserrat', sans-serif;
$regular:'Open Sans', sans-serif;

/* Sizes */


