.footer {
  background-color: $bgorange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  @media (min-width: 1080px) {
  flex-direction: row;
  justify-content: space-around;
  padding: 4rem;
  flex-wrap: wrap;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-family: $regular;
    font-size: 1.4rem;

    :hover {
      font-weight: 800;
      color: $darkred;
    }

    &--item {
      padding-bottom: 1rem;
      cursor: pointer;
    }
  }

  &__sm {
    display: block;

    :hover {
      color: $darkred;
    }

    &--title {
      width: 100%;
      font-family: $regular;
      font-size: 1.4rem;
    }
    &--icon {
      font-size: 1.6rem;
      padding-top: 1rem;
      padding-right: 1rem;
      cursor: pointer;
    }
  }

  &__copy {
    font-size: 1.2rem;
    text-align: center;
    font-family: $regular;
    color: $darkred;
  padding: 2rem;
    @media(min-width: 1080px) {
      padding: 0;
    width: 100%;
    
    }
  }
}
