.header {
  background-color: $brightorange;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 1080px) {
    padding: 5rem 0;
  }
  &__logo {
    height: 5rem;
    @media (min-width: 1080px) {
      height: 8rem;
    }
  }

  &__title {
    font-family: $titles;
    font-weight: 800;
    color: $white;
    font-size: 2.4rem;
    @media (min-width: 1080px) {
      font-size: 4rem;
    }
  }

  &__subtitle {
    font-family: $regular;
    font-size: 1.8rem;
    color: $white;
    padding: 1.5rem 0;
    text-align: center;

    @media (min-width: 1080px) {
      font-size: 2.2rem;
      padding: 1.5rem 0;
    }
  }

  &__finder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 1px $darkred solid;
    height: 2.4rem;
    padding: 0.1rem;
    border-radius: 0.5rem;

    @media (min-width: 1080px) {
      height: 3rem;
      padding: 0.5rem;
      border-radius: 1rem;
    }
    &--icon {
      padding-left: 1rem;
      font-size: 1.6rem;
      color: $darkred;
    }

    &--input {
      font-family: $regular;
      border: none;
      background-color: inherit;
      font-size: 1.3rem;
      width: 25rem;
      padding-left: 1rem;
      @media (min-width: 1080px) {
        font-size: 1.5rem;
        width: 40rem;
      }
      &::placeholder {
        color: $darkred;
        font-size: 1.3rem;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
