.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0006;

  &__content {
    margin: 20rem auto;
    border-radius: 1rem;
    background-color: white;
    display: grid;
    grid-template-columns: 35% 60% 5%;
    grid-template-rows: 5% 85% 10%;
    width: 90rem;
    padding: 4rem;
  }

  &__info {
    grid-column: 1;
    grid-row: 1/3;
    &--title {
      font-family: $titles;
      font-size: 1.6rem;
      font-weight: 800;
    }

    &--subtitle {
      display: inline-block;
      font-family: $regular;
      font-size: 1.3rem;
      padding: 0.5rem 1rem 1rem 0;
    }

    &--image {
      width: 27rem;
      height: 13rem;
      object-fit: cover;
      border-radius: 0.7rem;
    }

    &--button {
      font-family: $regular;
      padding: 0.7rem;
      margin-top: 1rem;
      background-color: $orange;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: $brightorange;
        font-weight: 800;
      }

      &--i {
        padding-right: 1rem;
      }
    }
  }

  &__form {
    grid-column: 2;
    grid-row: 2/3;
    &--legend {
      font-family: $titles;
      font-weight: 800;
      font-size: 2.1rem;
      padding-bottom: 2rem;
    }

    &--label {
      font-family: $titles;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 0.5rem;
    }

    &--input {
      height: 3rem;
      border-radius: 0.8rem;
      border: 0.1rem $gray solid;
      font-size: 1.4rem;
      font-family: $regular;
      padding-left: 1rem;
      margin-bottom: 1rem;

      &::placeholder {
        font-size: 1.2rem;
        color: $gray;
      }
    }

    &--date {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 96%;
      border: 0.1rem $gray solid;
      height: 3rem;
      border-radius: 0.8rem;
      font-size: 2rem;
      padding: 0 1rem;
      margin-bottom: 4rem;

      &--input {
        font-family: $regular;
        border: none;
      }

      .customers {
        width: 30rem;
      }

      .fa-user {
        font-size: 1.4rem;
      }
    }

    &--customer {
      display: flex;
      flex-direction: column;
    }

    &--submit {
      grid-row: 3;
      grid-column: 2;
      justify-self: right;
      width: 6rem;
      font-family: $regular;
      padding: 1rem;
      background-color: $green;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: $darkgreen;
        font-weight: 800;
      }
    }
  }

  &__close-btn {
    border: none;
    background-color: white;
    grid-column: 3/3;
    cursor: pointer;

    .fa-xmark{
            font-size: 2rem;

            &:hover {
        color: $brightorange;
        font-weight: 800;
      }
    }
  }
}
